
  
  <basic role="{{role}}" headimg="{{headimg}}" time="{{time}}">
  	<view slot="main" class="main">
		<view class="content shadow item-goods">
				<image src="{{content.src}}" class="radius item-goods-logo"  ></image><!---mode="widthFix"-->
				<view class="item-goods-desc fs22">
					<view class="item-goods-title">{{content.title}}</view>
					<view class="item-goods-price cf00 fw4">
						￥{{content.price}}
					</view>
				</view>
					
		</view> 
  	</view>
  </basic>