<basic role="{{role}}" headimg="{{headimg}}" time="{{time}}">
	<view slot="main" class="main">
	  <view class="action text-bold text-grey" wx:if="{{role == 'self'}}">
		  <text wx:if="{{sec > 0}}">{{sec}}"</text>
		  <view wx:else class="cu-load loading"></view>
	  </view>
	  <view class="content shadow " bindtap="playAudio">
	    <view class="audio {{role == 'self' ? 'self-audio' : 'other-audio'}}">
			<view class="audio-circle first"></view>
			<view class="audio-circle second"></view>
			<view class="audio-circle third {{isPlay ? 'play' : ''}}"></view>
		</view>
	  </view>
	  <view class="action text-bold text-grey"  wx:if="{{role != 'self'}}">
	    <text wx:if="{{sec > 0}}">{{sec}}"</text>
	    <view wx:else class="cu-load loading"></view>
	  </view>
	</view>
</basic>